<% layout("./layouts/boilerplate") %>

<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = JSON.parse('<%- JSON.stringify(data.geometry.coordinates) %>');
</script>

<div class="container py-4">

    <%- include("./partials/listingInfo") %>

    <% if(currUser){ %>
        <%- include("./partials/reviewForm") %>
    <% } %>

    <% if(data.reviews.length > 0){ %>
        <%- include("./partials/review") %>
    <% } %>

    <%- include("./partials/map") %>

</div>

<script src="/js/map.js"></script>