<% layout('./layouts/boilerplate') %>

<body>

<div class="container mt-4">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <div class="card border-0 shadow-sm rounded-4 overflow-hidden">

         <h2 class="mb-4 fw-bold"><%= data.title %></h2>
        <img 
          src="<%= data.image.url %>" 
          class="card-img-top"
          style="height: 400px; object-fit: cover;"
          alt="listing_image">

        <div class="card-body p-4">
          <p class="mb-3">
            <b>owner by <i><%= data.owner.username.toUpperCase() %></i> </b>
            <br>
          </p>

          <p class="mb-3">
            <b>Description:</b><br>
            <%= data.description %>
          </p>

          <p class="mb-2">
            <b>Price:</b> 
            &#8377;<%= data.price.toLocaleString("en-IN") %>
          </p>

          <p class="mb-2">
            <b>Location:</b> 
            <%= data.location %>
          </p>

          <p class="mb-4">
            <b>Country:</b> 
            <%= data.country %>
          </p>

          <div class="d-flex gap-3">
            <% if(currUser && currUser._id.equals(data.owner._id)) { %>
            <a 
              href="/listings/<%= data._id %>/edit" 
              class="btn btn-danger px-4">
              Edit
            </a>
            <form 
              action="/listings/<%= data._id %>?_method=DELETE" 
              method="POST">
              <button class="btn btn-dark px-4">
                Delete
              </button>
            </form>
            <% } %>
          </div>

        </div>

      </div>

    </div>

  </div>


  <hr class="my-2">

  <div class="row justify-content-center">

    <div class="col-md-8">

      <div class="card border-0 shadow-sm rounded-4 p-4">

        <h3 class="mb-2 fw-bold">Add a Review</h3>

        <form 
          action="/listings/<%= data._id %>/review" 
          method="POST"
          novalidate
          class="needs-validation">

          <div class="mb-4">

            <label 
              for="rating" 
              class="form-label fw-semibold">
              Give us a rating
            </label>

            <input 
              type="range" 
              name="reviews[rating]"
              id="rating"
              class="form-range"
              min="1"
              max="5">

          </div>

          <div class="mb-4" >

            <label 
              for="comment" 
              class="form-label fw-semibold">
              Write a review
            </label>

            <textarea 
              name="reviews[comment]" 
              id="comment"
              rows="2"
              required
              class="form-control"
              placeholder="Share your experience here..."></textarea>

            <div class="invalid-feedback">
              write a valid review
            </div>

          </div>

          <button class="btn btn-outline-danger px-4">
            Add Review
          </button>

        </form>

      </div>

    </div>

  </div>

<!-- display review -->
<hr class="my-4">

<div class="row justify-content-center">

  <div class="col-md-8">

    <h3 class="mb-3 fw-bold">
      All Reviews
    </h3>

    <div class="row">

      <% for(let review of data.reviews) { %>

        <div class="col-md-6">

          <div class="card mb-3 border-0 shadow-sm rounded-4">

            <div class="card-body">
              <p><b>Nisha Singh</b></p>
              <% for(let i = 0; i < review.rating; i++) { %>
                <i class="fa-solid fa-star"></i>
              <% } %>

              <p class="card-text mb-0">
                <%= review.comment %>
              </p>

              <form action="/listings/<%= data._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger mt-3">Remove</button>
              </form>

            </div>

          </div>

        </div>

      <% } %>

    </div>

  </div>

</div>

</div>

</body>